<div data-role="view" data-title="DFC Geo Location Test" data-layout="main" data-model="app.geolocation" data-show="app.geolocation.onShow" data-after-show="app.geolocation.afterShow">

    <!-- START_CUSTOM_CODE_geolocation -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="container-fluid" style="width:100%; min-height:150px;">
        <div class="row">
            <div class="col-sx-12">
                <h4>Controles Geo Localizacion</h4>
            </div>
        </div>
        <div class="row">
            <div data-role="button" data-click="testLocalizacion" class="col-sx-12 btn btn-info">
                Donde estoy localizado?
            </div>
        </div>
        <div class="row">
            <div data-role="button" data-click="posAlmacenesDespachador" class="col-sx-12 btn btn-info">
                Posiciones Almacenes y Despachador
            </div>
        </div>
    </div>
    <div id="miPosicion" style="width:100%;">Mi Posicion</div>

    <!-- END_CUSTOM_CODE_geolocation -->
</div>